header {
  background-color: var(--primary-color);
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  & nav ul {
    display: flex;
    list-style: none;
    gap: 20px;

    & li a {
      color: var(--light-color);
      text-decoration: none;
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 8px;
      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }

  & .nav-hide {
    display: none;
  }

  @media (width > 700px) {
    .nav-hide {
      display: block;
    }
  }
}
