.hero {
  background-image: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  color: var(--light-color);
  padding: 40px 20px;
  border-radius: 8px;
  text-align: center;

  & h1 {
    margin-bottom: 20px;
  }

  & .cta {
    display: block;
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-decoration: none;
    margin: 20px auto 0 auto;
    max-width: 400px;
    padding: 15px;
    border-radius: 8px;
    animation: bounce 2s infinite;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
